.input {
  padding: 0;
}
.form-check-input {
  width: 2rem;
  height: 2rem;
  
}
.form-check .form-check-input {
  margin: 0;
}
.list-group-item {
  padding: .2rem 1rem;
}
.done {
  background-color: #23a55bb7;
}
.done:hover {
  background-color: #3bbb72b7 !important;
}
.error {
  color: red;
}